
 
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around "
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0" *ngIf="dish" >

  <div fxFlex="38" [@visibility]="visibility" >
    <mat-card class="example-card" >
        <mat-card-header >
            <mat-card-title>
                <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ baseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
            <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions  fxLayoutGap.xs="0"  fxLayoutAlign.lg="space-around ">
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click) = "goback()" ><span class="fa fa-arrow-left fa-lg"></span></button>
                <button mat-button   (click)="addToFavorites()"><span  class="{{ favorite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></span></button>
                <button mat-button><span class="fa fa-share fa-lg"></span></button>
              
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      
            </mat-card-actions>
        </mat-card-footer>
</mat-card>
  </div>


  <div fxFlex="38" [@visibility]="visibility">
      <mat-card>
        <mat-card-header>
             <h3>Comments</h3>
        </mat-card-header>
        <hr>
    <div  style="margin-left: 40px;">
        <mat-list >
            <mat-list-item *ngFor="let comment of dish.comments">
                    <h3 matLine>{{comment.comment}} </h3>
                    <h5 matLine>Rating - {{comment.rating}}</h5>
                    <p matLine>
                        <span style="font-family: cursive;">--{{comment.author.username}} | </span>
                        <span>{{comment.createdAt| date}}</span>   
                    </p>      
            </mat-list-item>
          
        </mat-list>
        
    </div>
    <hr>
    <mat-card-footer>
      
        <div style="margin-left: 50px; margin-right: 50px;">
            <h3>Enter Comments</h3> 
            <hr>
    <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        
           <p>
            <mat-slider
            thumbLabel
            formControlName="rating"
            tickInterval="1000"
            min="1"
            max="5"></mat-slider>
           </p>
           <P>
             <mat-form-field >
               <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
               <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
             </mat-form-field>
         </P>
         <p>
             <button type="submit"  mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </p>
           </form>
        </div>
           </mat-card-footer>
     
</mat-card>
</div>


 

</div>
<div [hidden]="dish || errMess ">
    <mat-spinner></mat-spinner>
    <h4>Loding..Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>