.flex-item {
    width: 280px;
    justify-self: center;
    margin: 5px;
  }

  .container {
    justify-content:space-around ;
   
  }

  p:hover {
    color:black;
   
    
    
  }


  img:hover {
   
 opacity: 0.7;
   
  }